{{#partial "content"}}
    {{#with blogPostResult}}
        {{#unless postExists}}
            {{postNotExistsMessage}}
        {{else}}
            <h3><span>{{title}}</span>&nbsp;<small>{{postDate}}</small></h3>
            <div>{{post}}</div>
        {{/unless}}
    {{/with}}
{{/partial}}
{{> base}}