{{#partial "content"}}
    <h3>Blog</h3>
    <div>
        {{#if recentBlogPostsResult.noResults}}
            <div>{{recentBlogPostsResult.noResultsMessage}}</div>
        {{else}}
            {{#each recentBlogPostsResult.blogPostPreviews}}
                <a href="{{blogPostSlugURL}}">
                    <div class="blogPostPreview">
                        <h3>{{title}}</h3>
                        <div><p>{{postSnippet}}</p></div>
                    </div>
                </a>
            {{/each}}
        {{/if}}
    </div>
{{/partial}}
{{> base}}