<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="/resource/css/core.css">
    <link rel="stylesheet" type="text/css" href="/resource/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>The Naked Gardener</h1>
            <nav>
                <ul class="nav nav-tabs nav-justified">
                    {{#each navigationItems}}
                        {{#if active}}
                            <li class="active"><a href="{{href}}">{{name}}</a></li>
                        {{else}}
                            <li><a href="{{href}}">{{name}}</a></li>
                        {{/if}}
                    {{/each}}
                </ul>
            </nav>
        </div>
        <div>
            {{#block "content"}}
            {{/block}}
        </div>
        <footer class="footer">
            <div class="text-muted text-center">Copyright (c) {{pageYear}}</div>
        </footer>
    </div>
    <script type="text/javascript" src="/resource/js/core.js"></script>
</body>
</html>